@model AM1.Models.Cart

@{
    ViewData["Title"] = "Details";
}
<div class="container">

    <h2>Details</h2>

    <div>
        <h4>Cart</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ArtistID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ArtistID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CartID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();

</script>
<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }</script>