@model AM1.Models.Blog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDebug.cshtml";
}

<div class="col-md-12" style="text-align:center;">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
</div>
<br />
<div class="col-md-12" style="text-align:center; text-align:center;">
    <div style="display:inline-block; width:32%;">
        @Html.DisplayFor(model => model.Author)
    </div>
    <div style="display:inline-block; width:32%; text-align:center;">
        @Html.DisplayFor(model => model.PublishDate)
    </div>
    <div style="display:inline-block; width:32%; text-align:center;">
        @Html.DisplayFor(model => model.Category)
        
    </div>
</div>
<br />
<div class="col-md-12" style="text-align:center;">
    <img class="blogpic" src="@Html.DisplayFor(model => model.BlogPic)">
</div>
<div class="col-md-12">
    @Html.DisplayFor(model => model.BlogPost)
</div>

<script>
    document.getElementById('mNavbar').style = 'visibility: hidden;';
</script>

@*<a asp-action="Edit" asp-route-id="@Model.BlogID">Edit</a>
    <a asp-action="Index">Back to List</a>*@